 .Profile {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

.ProfileHeaderBar {
    width: 80%;
    /* background-color: green; */
    height: 385px;
}

.ProfileBanner {
    height: 175px;
    background-color: #eeebcc;
    margin-top: 35px;
    border-radius: 35px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.ProfilePicAndEdit {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ProfileHeaderProfilePic {
    position: relative; 
    top: -80px;
    margin-left: 20px;
    margin-bottom: -80px;
}

.ProfileHeaderContent {
    padding-left: 10px;
    /* background-color: lightgray;
    border-radius: 15px; */
}

.ProfileHeaderNameAndRating {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
}

.ProfileHeaderRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.ProfileHeaderName {
    margin-left: 3vw;
    margin-bottom: 0;
    font-size: 2.8vw;
}


.ProfileHeaderInfo {
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
}
