
.CertificateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.Certificate {
    width: 100%;
    height: 95px;
}

.CertificateContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CertificateContentHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95px;
    width: 100%;
}


.CertificateInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:start
}