.ProfessionalProfileContent {
    margin-left: 10%;
}

.ProfessionalProfileBodyTitle {
    font-size: 2vw;
}

.ProfessionalProfileText {
    background-color: #f3ede2;
    width: 90%;
    color: #696969;
    height: 35%;
    border-radius: 35px;
    padding: 10px 20px;
}

.ProfessionalProfileSkillsContainer {
    display: flex;
    flex-direction: row;
    width: 88%;
}
.ProfessionalProfileSkill {
    margin-right: .8vw;
}

.ProfessionalProfileProjectList {
    background-color: #F9F9F9;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.ProfessionalProfileCertificateList {
    background-color: #F9F9F9;
    width: 90%;
    justify-content: center;
    text-align: center;
}